.main {
    margin: 0px;
}
.composer {
    cursor: pointer;
    color:  darkblue;
    transition: .2s;
}
.composer:hover {
    color: slateblue;

}
.composer.active {
    color: slateblue;
    transition: .2s;
}
.composer.active:hover {
    color: dodgerblue;
}
.direct {
    position: relative;

}
.audioControl {
    position: absolute;
    width: 270px;
    bottom: -16px;
    left: 14px;
}