.listContainer {
    margin: 10px;
}
.listContainerCn {
    padding: 0px;
}
.selectedPage {
    color: white;
    /*font-weight: 500;*/
    background-color: green;
    border: 1px solid green;
    border-radius: 20%;
    margin: 0 3px 6px 3px;
    padding: 0 3px;
    vertical-align: unset;
    cursor: default;
    transition: .5s;
}
.unSelectedPage {
    font-weight: normal;
    color: cornflowerblue;
    border: 1px solid gray;
    border-radius: 5px;
    margin: 3px;
    padding: 0 3px;
    cursor: pointer;
    vertical-align: sub;
    transition: .5s;
}
.unSelectedPage:hover {
    color: darkslateblue;
    background-color: green;
    vertical-align: unset;
    transition: .5s;
}
.unSelectedPage::selection {
    background-color: green;
    transition: .2s;

}
.listContainer button {
   margin: 0 3px 0px 3px;
   border-radius: 15px;
   cursor: pointer;
}

