.dialogs {
    /*display: grid;*/
    /*grid-template-columns: 2fr 10fr;*/
}
.button {
    border-width: 0;
}
.dialogContent {
    margin-left: 15px;
    margin-top: 15px;
    text-align: center;
}
.dialogItems {
    padding: 10px;
}
.field {
    min-width: 50%;
    padding: 10px;
    /*background-color: ghostwhite;*/
}

.item img{
    height: 50px;
    width: 50px;
}
.dialogItems .active {
    color: gold;
}
.name {
    color: seagreen;
}

.messages.active {
    text-align: right;
}
.messages.passive {
    text-align: left;
}
.messages {
    padding: 8px;
}