.avatar {
  width: 160px;
  height: 160px;
}
.descriptionBlock {
  padding: 10px;
}

.fullName {
  font-size: 25px;
  font-weight: bold;
  line-height: 40px;
}

.inputWrapper {
  width: 100%;
  position: relative;
  margin: 15px 0;
  text-align: center;
}

.inputFile {
  opacity: 0;
  visibility: hidden;
  position: absolute;
  max-width: 85px;
}

.inputFileIconWrapper {
  height: 40px;
  width: 50px;
  margin-right: 3px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  border-right: 1px solid #fff;
}

.inputFileButtonText {
  line-height: 1;
  margin-top: 1px;
}

.inputFileButton {
  width: 100%;
  max-width: 170px;
  height: 40px;
  background: mediumseagreen;
  color: #fff;
  font-size: 14px;
  font-weight: 700;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  border-radius: 3px;
  cursor: pointer;
  margin: 0;
  transition: 0.1s;
}
.inputWrapper:hover .inputFileButton{
  font-weight: 400;
  font-size: 15px;
  background: #1bbc9b;
}

.inputFileIcon {
  max-width: 25px;
}

.contact {
  margin-left: 10px;
}
.contactTitle {
  font-weight: 500;
}