.item {
  font-size: 16px;
  text-align: right;
}
a.item {
  color:green;
}
.item:not(.active) {
  cursor: pointer;
  text-decoration: underline;
}
.item.active {
  color:maroon;
}
.position {
  text-align: right;
}