.formControl.error input,
.formControl.error textarea {
    border: red 2px solid;
}
.formControl.error span {
    font-size: 12px;
    line-height: 10px;
}
.formSummaryError {
    color: red;
    border: red 3px solid;
    padding: 1px;
}